body {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    position: relative;
}

/*body::after {*/
/*    content: '';*/
/*    display: block;*/
/*    height: 5rem; !* Set same as footer's height *!*/
/*}*/

.login-page-button {
    background-color: #ff4654;
    color: black;
}

.login-page-button:hover {
    background-color: #ff717a;
}

.user-profile-button:hover {
    opacity: 0.6;
}

.active {
    color: #ff0000;
}

.inactive {
    color: black;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6.5rem;
}

.shop-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.navigation-bar ul li a, .shop-btn {
    padding: 1.3rem 1.2rem;
}

.navigation-bar ul li a:hover, .shop-btn:hover {
    background-color: #cca0a0;
}

.navigation-footer a:hover {
    opacity: 0.6;
}

.log-out-button {
    background-color: #ff4654;
}

.log-out-button:hover {
    background-color: #ff8a93;
}

.login-button {
    color: black;
}

.login-button:hover {
    background-color: #ff4654;
    color: white;
}

.signup-page-button {
    background-color: #ffdadd;
    color: #ff4654;
    border: solid #ff4654 1px;
}

.signup-page-button:hover {
    background-color: #ffa2a8;
    color: white;
}

.back-button {
    color: #ff4654;
    border-radius: 10rem;
}

.back-button:hover {
    opacity: 0.6;
    border: solid #ff4654 1px;
}

.image-container {
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.image-container:hover .image-overlay {
    opacity: 1;
    transition: .3s ease;
}

.image-container:not(:hover) .image-overlay {
    opacity: 0;
    transition: .3s ease;
}

.image-container:hover .image-original {
    /*opacity: 0;*/
    /*transition: .3s ease;*/
}

.transaction-history-table td {
    font-weight: bold;
}

.button-see-all {
    color: #ff4f5d;
}

.button-see-all:hover {
    color: #ff878d;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    box-shadow: 0.3rem 0.3rem #c4c4c4;
}

.btn-modal {
    background-color: #ff4654;
    color: black;
}

.btn-modal:hover {
    background-color: #ff8289;
    color: black;
}

.search-button:hover {
    border: solid black 1px;
    background-color: #ff8289;
}
